**/__pycache__/
**/.history/
**/.vscode/
weights/
*.bin
*.pt
download.py
.gitignore
**/fine_tuned_banking_ai/
**/checkpoints/
**/checkpoints**/**
**/my_banking_lora_adapter/
**/checkpoints**
models/
models**/**
.venv/
venv/
__pycache__/
*.pt
*.pth
*.bin
*.ckpt
*.h5
*.zip
*.tar
*.csv
models/
checkpoints/
demo/ui/node_modules/
demo/ui/dist/
demo/ui/.vite/
demo/ui/tsconfig.*.tsbuildinfo
demo/ui/vite.config.d.ts
demo/ui/vite.config.js
runtime/
