**/__pycache__/
**/.history/
**/.vscode/
weights/
*.bin
*.pt
download.py
.gitignore
**/fine_tuned_banking_ai/
**/checkpoints/
**/checkpoints**/**
**/my_banking_lora_adapter/
**/checkpoints**
models/
models**/**
.venv/
venv/
__pycache__/
*.pt
*.pth
*.bin
*.ckpt
*.h5
*.zip
*.tar
*.csv
models/
checkpoints/
demo_ui/node_modules/
demo_ui/dist/
demo_ui/.vite/
