**/__pycache__/
**/.history/
**/.vscode/
weights/
*.bin
*.pt
download.py
.gitignore
**/fine_tuned_banking_ai/
**/checkpoints/
**/checkpoints**/**
**/my_banking_lora_adapter/
**/checkpoints**
models/
models**/**